    /* margin padding and posion  */
    /* margin - change the distance of the element from (0,0) */
    
    div {
        width: 100px;
        height: 100px;
        /* margin: 100px; */
        margin-left: 100px;
    }
    /* padding - change the size of the element from the inside  */
    
    #red-single {
        background-color: red;
        margin-left: 400px;
    }
    
    #red {
        background-color: red;
        padding-bottom: 100px;
    }
    
    #blue {
        background-color: blue;
        padding-right: 100px;
    }